<h1 class="text-center">Blog List</h1>

<a href="/blog/new">Write new post</a><br>
{{#each posts}}
<div>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <a href="/blog/{{id}}">Continue reading</a>
</div>
{{/each}}
<br>
<h4>Sort By</h4>
<select name="order" class="form-control form-control-sm">
    <option>Date created</option>
    <option>Author</option>
    <option>Title</option>
</select>
<br>
