<h1>Edit Post</h1>
<form action="/blog" method="PUT">
    <div class="form-group">
        <label for="blog-title">Title</label>
        <input name="title" type="text" class="form-control" id="blog-title" value="{{title}}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <input name="content" type="text" class="form-control" id="content" value="{{content}}">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<br>
<a href="/blog">Posts</a>